@model IEnumerable<SINHVIEN>

@{
    ViewBag.Title = "Index";
}

<h2>Quản lý Sinh Viên</h2>

<p>
    <a href="@Url.Action("Create")">Thêm mới SV</a>
</p>
<table class="table">
    <tr>
        <th>
            Mã SV
        </th>
        <th>
            Tên SV
        </th>
        <th>
            Lớp
        </th>
        <th>
            Khóa
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <mark>@item.MaSV</mark>
            </td>
            <td>
                @item.HoTenSV
            </td>
            <td>
                @item.TenLop
            </td>
            <td>
                @item.TenKhoaDaoTao
            </td>

            <td>
                <a href="@Url.Action("Edit", new { id = item.IDSinhVien })">Sửa thông tin</a> |
                <a href="@Url.Action("Details", new { id = item.IDSinhVien })">Xem thông tin</a> |
                <a href="@Url.Action("Delete", new { id = item.IDSinhVien })">Xóa</a> |

            </td>
        </tr>
    }

</table>
